<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Test registration" >
        <classes>
            <class name="tests.registration.TestValidationReg" />
        </classes>
    </test>

    <test name="Test sign In">
        <classes>
            <class name="tests.registration.TestValidationLogin"/>
        </classes>
    </test>
</suite>
